<link rel='import' href='<?= pathToBower ?>/polymer/polymer.html'>
<link rel="import" href='<?= pathToBower ?>/expandjs/expandjs.html'>
<link rel="import" href="../tux/tux.html">
<link rel="import" href="<?= pathToElements ?>/tux/tux.html">
<script>
  /* @polymerBehavior Tux.<?= entityNameCamel ?> */

  Tux.<?= behaviorNameCapital ?>Impl =  {
    properties: {
      name: "<?= behaviorNameCapital ?>"
    }
  };

  /* @polymerBehavior */
  Tux.<?= behaviorNameCapital -?> = Tux.<?= behaviorNameCapital ?>Impl;
</script>
